<!--create a form to accept user input, since a service can be used to update, delete, add data-->
<form #frm="ngForm"> <!--import form in the module file-->
    <div class="">
        <input type="text" name="location" value="" ngModel>
        <!--create a button to update employee info to add location-->
        <button type="button" name="button">Add Info</button>
    </div>
</form>

<div class="e-info-container">
    <button type="button" name="button" (click)="getInfoFromService1()" >Employee1</button>
<ul class="list-group">
    <li *ngFor= "let info of infoReceived1" class="list-group-info">{{info}}</li>
</ul>

<button type="button" name="button" (click)="getInfoFromService2()" >Employee2</button>
<ul class="list-group">
    <li *ngFor= "let info of infoReceived2" class="list-group-info">{{info}}</li>
</ul>

<button type="button" name="button" (click)="getInfoFromService3()" >Employee3</button>
<ul class="list-group">
    <li *ngFor= "let info of infoReceived3" class="list-group-info">{{info}}</li>
</ul>

<button type="button" name="button" (click)="getInfoFromService4()" >Employee4</button>
<ul class="list-group">
    <li *ngFor= "let info of infoReceived4" class="list-group-info">{{info}}</li>
</ul>

<button type="button" name="button" (click)="getInfoFromService5()" >Employee5</button>
<ul class="list-group">
    <li *ngFor= "let info of infoReceived5" class="list-group-info">{{info}}</li>
</ul>
</div>